[;; fiber

 ;; FOOD_DES

 {:db/ident :usda.item/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc
  "5-digit Nutrient Databank string that uniquely identifies a food item"}

 {:db/ident :usda.item/group-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "4-digit code indicating food group to which a food item belongs"}

 {:db/ident :usda.item/desc-long
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc
  "200-character description of food item"}

 {:db/ident :usda.item/desc-short
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc
  "60-character abbreviated description of food item."}

 {:db/ident :usda.item/com-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc
  "Other names commonly used to describe a food"}

 {:db/ident :usda.item/manufac-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc
  "Indicates the company that manufactured the product"}

 {:db/ident :usda.item/survey
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc
  "If has a complete nutrient profile for the 65 FNDDS nutrients"}

 {:db/ident :usda.item/ref-desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Description of inedible parts of a food item (refuse)"}

 {:db/ident :usda.item/refuse
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc
  "Percentage of refuse"}

 {:db/ident :usda.item/sci-name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc
  "Scientific name of the food item"}

 {:db/ident :usda.item/n-factor
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Factor for converting nitrogen to protein (see p. 12)"}

 {:db/ident :usda.item/pro-factor
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Factor for calculating calories from protein (see p. 14)"}

 {:db/ident :usda.item/fat-factor
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Factor for calculating calories from fat (see p. 14)"}

 {:db/ident :usda.item/cho-factor
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Factor for calculating calories from carbohydrate (see p. 14)"}


 ;; NUT_DEF

 {:db/ident :usda.nutr/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc
  "Unique 3-digit identifier code for a nutrient"}

 {:db/ident :usda.nutr/units
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Units of measure (mg, g, μg, and so on)"}

 {:db/ident :usda.nutr/tagname
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc
  "International Network of Food Data Systems (INFOODS) Tagnames"}

 {:db/ident :usda.nutr/desc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc
  "Name of nutrient/food component"}

 {:db/ident :usda.nutr/num-dec
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc
  "Number of decimal places to which a nutrient value is rounded"}

 {:db/ident :usda.nutr/sr-order
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc
  "Used to sort nutrient records in the same order as various reports produced from SR"}

 ;; NUT_DATA

 {:db/ident :usda.item/nutrients
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc
  "Nutrients of a food item"}

 {:db/ident :usda.nutrdata/id
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc
  "A unique composite id, {item-id}-{nutr-id} "}

 {:db/ident :usda.nutrdata/nutr-ref
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc
  "A ref to nutrient"}

 {:db/ident :usda.nutrdata/item-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "5-digit Nutrient Databank number that uniquely identifies a food item"}

 {:db/ident :usda.nutrdata/nutr-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Unique 3-digit identifier code for a nutrient"}

 {:db/ident :usda.nutrdata/nutr-val
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Amount in 100 grams, edible portion †"}

 {:db/ident :usda.nutrdata/num-data-points
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Number of data points is the number of analyses
used to calculate the nutrient value. If the number of
data points is 0, the value was calculated or
imputed"}

 {:db/ident :usda.nutrdata/std-error
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Standard error of the mean. Null if cannot be
calculated. The standard error is also not given if the
number of data points is less than three"}

 {:db/ident :usda.nutrdata/src-cd
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Code indicating type of data"}

 {:db/ident :usda.nutrdata/deriv-cd
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Data Derivation Code giving specific information on
how the value is determined. This field is populated
only for items added or updated starting with SR14.
This field may not be populated if older records were
used in the calculation of the mean value"}

 {:db/ident :usda.nutrdata/ref-ndb-no
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "NDB number of the item used to calculate a missing
value. Populated only for items added or updated
starting with SR14"}

 {:db/ident :usda.nutrdata/add-nutr-mark
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Indicates a vitamin or mineral added for fortification
or enrichment. This field is populated for ready-to-
eat breakfast cereals and many brand-name hot
cereals in food group 08"}

 {:db/ident :usda.nutrdata/num-studies
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc
  "Number of studies"}

 {:db/ident :usda.nutrdata/min
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Minimum value"}

 {:db/ident :usda.nutrdata/max
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Maximum value"}

 {:db/ident :usda.nutrdata/df
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc
  "Degrees of freedom"}

 {:db/ident :usda.nutrdata/low-eb
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Lower 95% error bound"}

 {:db/ident :usda.nutrdata/up-eb
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc
  "Upper 95% error bound"}

 {:db/ident :usda.nutrdata/stat-cmt
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Statistical comments. See definitions below"}

 {:db/ident :usda.nutrdata/addmod-date
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Indicates when a value was either added to the
database or last modified"}

 {:db/ident :usda.nutrdata/cc
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc
  "Confidence Code indicating data quality, based on
evaluation of sample plan, sample handling
analytical method, analytical quality control, and
number of samples analyzed. Not included in this
release, but is planned for future releases"}

 ; NIH rdi elements https://www.ncbi.nlm.nih.gov/books/NBK56068/table/summarytables.t3/?report=objectonly
 
 {:db/ident :nih.dri.group/range
  :db/valueType :db.type/string
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  :db/doc "Group age range "}
 
 {:db/ident :nih.dri.group/category
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Group category (Children Pregnancy ..)"
  }
 
 {:db/ident :nih.dri.group/min-age
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Group min age"}
 
 {:db/ident :nih.dri.group/max-age
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Group max age"}
 
 {:db/ident :nih.dri.group/elements
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "DRI elements for the group"}
 
 {:db/ident :nih.dri.group/vitamins
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "DRI vitamins for the group"}
 
 {:db/ident :nih.dri.group/macronutrients
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/doc "DRI macronutrients for the group"}
 
 {:db/ident :nih.dri.nutr/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Nutrient name"}
 
 {:db/ident :nih.dri.nutr/units
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Nutrient units"}
 
 {:db/ident :nih.dri.nutr/dval
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc "Daily value "}
 
 {:db/ident :nih.dri.nutr/rda?
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Is nutrient RDA (otherwise AI)"}
 
 {:db/ident :nih.dri.nutr/usda-nutr-id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "USDA three digit id string"}

 ]

